<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298093339835-j2k47l47oe018l55b0t7bsko3r9blndi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298093339835-j2k47l47oe018l55b0t7bsko3r9blndi</string>
	<key>API_KEY</key>
	<string>AIzaSyAQFPdjoXDhls9i8D8c0ofc7DZav4FWbLY</string>
	<key>GCM_SENDER_ID</key>
	<string>298093339835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arbretail.mobile</string>
	<key>PROJECT_ID</key>
	<string>alrajhiapp-b53ad</string>
	<key>STORAGE_BUCKET</key>
	<string>alrajhiapp-b53ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298093339835:ios:5bc03f792269c371</string>
	<key>DATABASE_URL</key>
	<string>https://alrajhiapp-b53ad.firebaseio.com</string>
</dict>
</plist>
